/*Contact info */

.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px;
}

.contact input {
  background-color: #4c495d;
  border: none;
  color: #d1d7e0;
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

.contact textarea {
    background-color: #4c495d;
    border: none;
    color: #d1d7e0;
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
  }
  .contact button {
    background-color: #4c495d;
    border: none;
    color: #d1d7e0;
    display: block;
    font-size: 18px;
    margin-left: auto;
    padding: 20px;
    transition: background 0.2s;
  }
  .contact button:hover {
    background-color: #564f56;
    cursor: pointer;
  }







/* Footer Area */
footer {
    width: 100%;
}

footer .footer-copyright {
  padding: 30px 0;
}

footer .footer-copyright h5 {
  font-size: 18px;
  color: #d1d7e0;
}

footer .footer-copyright p {
  font-size: 12px;
  color: #802bb1;
}




