
.skills {
    display: flex;
    min-height: 600px;
  }
  .skills h2 {
    font-size: 63px;
    font-family: "Consolas", monaco, monospace;
  }
  .skills .skill {
    max-width: 600px;
    margin: 0 auto;
  }
  .skills .skill H4 {
    color: #d1d7e0;
    border-bottom: 10px solid #802bb1;
  }
  .skills .skill ul {
    padding: 20px;
  }
  .skills .skill ul li {
    list-style-type: none;
    color: #d1d7e0;
    font-size: 22px;
    font-family: "Consolas", monaco, monospace;
  }
  
  .slider-arrow {
    padding: 10px;
    font-size: 64px;
    color: #d1d7e0;
    display: flex;
    align-items: center;
    transition: background 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .slider-arrow:hover {
    cursor: pointer;
    color: #802bb1;
  }