
.skills {
  display: flex;
  min-height: 600px;
}

#skills h2 {
  font-size: 63px;
  border-bottom: 10px solid white;
}

.skills .skill {
  max-width: 600px;
  margin: 0 auto;
}

.skills .skill h4 {
  color: white;
  border-bottom: 10px dashed white;
}

.skills .skill ul {
  padding: 20px;
  color: white;
}

.skills .skill ul li {
  list-style-type: none;
  color: white;
  font-size: 22px;
}
  
.slider-arrow {
  padding: 10px;
  font-size: 64px;
  color: white;
  display: flex;
  align-items: center;
  transition: background 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider-arrow:hover {
  cursor: pointer;
  color: white;
}