/*Contact info */

.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px;
}

.contact input {
  background-color: white;
  border: none;
  color: black;
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

.contact textarea {
    background-color: white;
    border: none;
    color: black;
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
  }
  .contact button {
    background-color: white;
    border: none;
    border-radius: 4px;
    color:black;
    display: block;
    font-size: 18px;
    margin-left: auto;
    padding: 15px 20px;
    width: 120px;
    transition: all 0.5s;
  }

  .contact button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .contact button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .contact button:hover span {
    padding-right: 25px;
    font-weight: 900;
  }
  
  .contact button:hover span:after {
    opacity: 1;
    right: 0;
    font-weight: 900;
  }






/* Footer Area */
footer {
    width: 100%;
}

footer .footer-copyright {
  padding: 30px 0;
}

footer .footer-copyright h5 {
  font-size: 18px;
  color: white;
}

footer .footer-copyright p {
  font-size: 12px;
  color: white;
}




